/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* font-family: 'Krona One', sans-serif;
font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Tilt Neon', cursive; */

body {
  font-family: 'Montserrat', sans-serif;
  @apply font-base bg-lightgrey;
}

@layer components {
  .btn-form-options {
    @apply hover:bg-strongmarinegreen hover:text-white
     text-gray-800 font-semibold 
     py-2 px-4 
     border-solid border-2 border-marinegreen 
     mt-1 mr-1 ml-1 
     rounded shadow;
  }

  .btn-form-add {
    @apply bg-marinegreen text-white font-bold
    border-solid border-2 border-marinegreen rounded-full
    hover:bg-strongmarinegreen 
    py-2 px-4 
    mt-4;
  }

  .cart-badge {
    @apply absolute 
    top-0 
    right-0 
    inline-flex items-center justify-center 
    px-2 py-1 
    text-xs 
    font-bold 
    leading-none 
    text-white 
    bg-red 
    transform 
    translate-x-1/2 
    -translate-y-1/2 
    rounded-full;
  }
}